@inherits LayoutComponentBase
<RadzenComponents />
<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
            <div class="top-row px-4">
                <LoginDisplay />
            </div>
              <AuthorizeView>
                  <Authorized>
                    <RadzenButton ButtonStyle="ButtonStyle.Primary">
                        Alertas
                        <RadzenBadge Variant="Variant.Outlined" BadgeStyle="BadgeStyle.Light" IsPill="@true" Text="15" class="rz-ml-2" />
                    </RadzenButton>
                   </Authorized>
                </AuthorizeView>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <RadzenPanelMenu>
            <NavMenu />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <AuthorizeView>
            <Authorized>
                <div class="rz-p-4">
                    @Body
                </div>
            </Authorized>
            <NotAuthorized>
                <Login />
            </NotAuthorized>
        </AuthorizeView>
    </RadzenBody>
    <RadzenFooter>
        <RadzenText TextStyle="TextStyle.Caption">Todos os direitos reservados para Aparecida Gago Machado - CRP 06/149382  - aparecidagago@gmail.com</RadzenText><br />
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebar1Expanded = true;

    private System.Threading.Timer? timer;

    protected override async Task OnInitializedAsync()
    {
        //REGISTRA AVISOS A CADA 5 SEGUNDOS
        //BUSCAR AVISOS A CADA 5 SEGUNDOS
    }
}