<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Consultorio Psico</a>
        <RadzenPanelMenu>
            <AuthorizeView>
                <Authorized>
                    <RadzenPanelMenuItem Text="Agenda" Icon="date_range" Path="agendas" />
                    <RadzenPanelMenuItem Text="Pacientes" Icon="accessibility" Path="pacientes" />
                    <RadzenPanelMenuItem Text="Pagamentos" Icon="credit_card" Path="pagamentos" />
                    <RadzenPanelMenuItem Text="Prontuário" Icon="note_add" Path="prontuarios" />
                </Authorized>
                <NotAuthorized>
                </NotAuthorized>
            </AuthorizeView>
        </RadzenPanelMenu>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mangas">
                <span class="oi oi-plus" aria-hidden="true"></span> Calendário
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categorias">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Pacientes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="catalogo">
                <span class="oi oi-list" aria-hidden="true"></span> Prontuario
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="catalogo">
                <span class="oi oi-list" aria-hidden="true"></span> Financeiro
            </NavLink>
        </div>       
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
