<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Consultorio Psico</a>
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Icon="home" Path=""/>
            <RadzenPanelMenuItem Text="Pacientes" Icon="accessibility" Path="pacientes" />
            <RadzenPanelMenuItem Text="Financeiro" Icon="account_balance" Path="">
                <RadzenPanelMenuItem Text="Pagamentos" Path="pagamentos" Icon="credit_card"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Relatórios" Path="relatorios" Icon="description"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <AuthorizeView>
                <Authorized>
                    <RadzenPanelMenuItem Text="Agenda" Icon="home" Path="pacientes" />
                </Authorized>
                <NotAuthorized>
                </NotAuthorized>
            </AuthorizeView>
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="fileuploader">
                            <span class="oi oi-cloud-upload" aria-hidden="true"></span> Enviar Arquivos
                        </NavLink>
                    </li>
                </Authorized>
                <NotAuthorized>
                </NotAuthorized>
            </AuthorizeView>
        </RadzenPanelMenu>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mangas">
                <span class="oi oi-plus" aria-hidden="true"></span> Calendário
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categorias">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Pacientes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="catalogo">
                <span class="oi oi-list" aria-hidden="true"></span> Prontuario
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="catalogo">
                <span class="oi oi-list" aria-hidden="true"></span> Financeiro
            </NavLink>
        </div>       
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
