@page "/pacientes"
@inject IPacienteService _pacienteService
@inject NavigationManager NavigationManager

<h3>Pacientes</h3>

<div>
    <a class="btn btn-success" href="paciente/create">Novo Paciente</a>
</div>
<br />